<h2 class="page-title">Grace's Kitchen</h2>
<div class="project-description">
    <div class="visit-site"><a href="http://graceskitchen.herokuapp.com" target="_blank">Visit Site</a></div>
    <p>
        Grace's Kitchen is a web application I developed for my family and friends to share,
        store, and search recipes and generating groceries lists.
    </p>

    <p>Technologies used: MongoDB, Mongoose, Node.js, Express.js, AngularJS, Passport.js, Angular Material</p>

    <p class="project-subtitle">Selected screenshots</p>
</div>

<img class="portfolio-img" src="assets/images/graces_kitchen/graces-kitchen-login.jpg" alt="graces-kitchen-login"/>
<img class="portfolio-img" src="assets/images/graces_kitchen/graces-kitchen-home.jpg" alt="graces-kitchen-home"/>
<img class="portfolio-img" src="assets/images/graces_kitchen/graces-kitchen-recipe.jpg" alt="graces-kitchen-recipe"/>
<img class="portfolio-img" src="assets/images/graces_kitchen/graces-kitchen-search.jpg" alt="graces-kitchen-search"/>
<img class="portfolio-img" src="assets/images/graces_kitchen/graces-kitchen-enter.jpg" alt="graces-kitchen-enter"/>
<img class="portfolio-img" src="assets/images/graces_kitchen/graces-kitchen-saved.jpg" alt="graces-kitchen-saved"/>
<img class="portfolio-img" src="assets/images/graces_kitchen/graces-kitchen-list.jpg" alt="graces-kitchen-list"/>