<h2 class="page-title">Open Arms of Minnesota</h2>

    <div class="project-description">

        <p>Open Arms of Minnesota is a non-profit organization that cooks and delivers free,
        nutritious meals to people living with life-threatening and chronic illness in the Twin Cities.
        With the help of more than 2,400 volunteers, they deliver over half a million meals a year,
        serving upwards of 1,000 clients weekly.</p>

        <h3 class="project-subtitle">Problem</h3>
        <p>Under the current model of operation at Open Arms,
        accommodating the preferences of a growing client base has become a painstaking manual task for administrators and kitchen staff.
        In addition, clients are unable to actively select the meals they receive each week.
        As a result, many long-term clients receive the same meals on a regular basis.</p>

        <h3 class="project-subtitle">Solution</h3>
        <p>We have created a user-friendly and intuitive experience for the clients at Open Arms to individualize meal orders.
        With this online ordering system, clients are able to mix and match meals that are most comforting to them as they battle illnesses.
        In addition, this web application provides a system for managing menus and meals,
            giving the Open Arms staff a set of tools that will better manage their growing client base.</p>

        <h3 class="project-subtitle">Technologies Used</h3>
        <p>postgreSQL, Node.js, Express.js, AngularJS, Angular UI, Passport.js, Angular Material, HTML, CSS</p>

        <p class="project-subtitle">Selected screenshots</p>
    </div>

<img class="portfolio-img" src="/assets/images/open_arms/open-arms-login.jpg" alt="open-arms-login"/>
<img class="portfolio-img" src="/assets/images/open_arms/open-arms-clientwelcome.jpg" alt="open-arms-clientwelcome"/>
<img class="portfolio-img" src="/assets/images/open_arms/open-arms-customize.jpg" alt="open-arms-customize"/>
<img class="portfolio-img" src="/assets/images/open_arms/open-arms-meal-confirm.jpg" alt="open-arms-meal-confirm"/>
<img class="portfolio-img" src="/assets/images/open_arms/open-arms-ordered.jpg" alt="open-arms-ordered"/>
<img class="portfolio-img" src="/assets/images/open_arms/open-arms-mobile.jpg" alt="open-arms-mobile"/>
<img class="portfolio-img" src="/assets/images/open_arms/open-arms-dashboard.jpg" alt="open-arms-dashboard"/>
<img class="portfolio-img" src="/assets/images/open_arms/open-arms-add-client.jpg" alt="open-arms-add-client"/>
<img class="portfolio-img" src="/assets/images/open_arms/open-arms-create-meal.jpg" alt="open-arms-create-meal"/>
<img class="portfolio-img" src="/assets/images/open_arms/open-arms-view-menu.jpg" alt="open-arms-view-menu"/>