<h2 class="page-title">Pui &amp; Rod's Wedding Site</h2>
<div class="project-description">
    <div class="visit-site"><a href="http://puiandrod.github.io" target="_blank">Visit Site</a></div>

    <p>Rodney and I wanted to have a personalized website for our wedding, rather than using preset wedding themes.
        Here's the final product.</p>

    <p>Technologies used: HTML, CSS, jQuery, Adobe Illustrator, Adobe Photoshop, Bootstrap</p>

    <p class="project-subtitle">Selected screenshots</p>
</div>
<img class="portfolio-img" src="assets/images/pui_and_rod/pui-and-rod-home.jpg" alt="pui-and-rod-home"/>
<img class="portfolio-img" src="assets/images/pui_and_rod/pui-and-rod-details.jpg" alt="pui-and-rod-details"/>
<img class="portfolio-img" src="assets/images/pui_and_rod/pui-and-rod-photos.jpg" alt="pui-and-rod-photos"/>